body{
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    color: #0a0a0a;
    background: #fefefe;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body a{
    color: #0a0a0a;
}

body.body-overlay {
    overflow:hidden;
    z-index: 10000;
}
body.body-overlay:after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    background-color:#000;
    width:100%;
    height: 20000px;
    opacity: 0.7;
}


@font-face {
	font-family: 'ElegantIcons';
		url('/fonts/ElegantIcons.woff') format('truetype'),
	font-weight: normal;
	font-style: normal;
}

body,h1,html, input {
    font-family: Raleway,sans-serif;
}
h1.home-page:before{
    content:"";
    background-image: url('images/generator-logo.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 5px 0 0;
}
h1 {
    font-size: 48px;
    font-weight:100;
    margin: 10px 0 10px 0;
    text-align: center;
}
.hero-content > h2 {
    margin:15px 0 0 0;
    font-weight:100;
    text-align:center;
}

*,:after,:before {
    box-sizing: inherit;
}

.page_wrapper .header{
    background-color: #eee;
    padding: 10px;
    overflow:hidden;
}
.page_wrapper .header .logo{font-size: 16px;font-weight: 700;float: left;}
.page_wrapper .header .menu{float:left;}
.page_wrapper .header .menu > a {display:none;}
.page_wrapper .header .menu ul {margin:0; padding:0;}
.page_wrapper .header .menu ul li{
    list-style-type: none;
    float:left;
    margin: 0 0 0 35px;
}
.page_wrapper .header .menu ul li a{
    text-decoration: inherit;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #c11b1b;
}
.page_wrapper .header .menu ul li a:hover{color: #770f0f;}
.page_wrapper .content, .footer-content{
    width: 90%;
    margin: 0 auto;
    padding: 30px 0 0 0;
    max-width: 1000px;
    overflow: hidden;
}

.footer-content a{
    color:#c11b1b;
}

.hero-content{margin: 0 0 40px 0;}
.hero-content p {margin: 0 25%;text-align: center;}

.appliance-selector{
    margin: 0 0 25px 0;
}
.appliance-selector .category-selector{}
.appliance-selector .category-selector a{
    border: 1px solid #cbcbcb;
    display: inline-block;
    padding: 5px 28px 5px 10px;
    text-align: left;
    color: #0a0a0a;
    text-decoration: inherit;
    position: relative;
}
.appliance-selector .category-selector a:after{font-family: 'Material Icons';font-weight: normal;font-style: normal;font-size: 18px;line-height: 24px;letter-spacing: normal;text-transform: none;display: inline-block;white-space: nowrap;word-wrap: normal;direction: ltr;-webkit-font-feature-settings: 'liga';-webkit-font-smoothing: antialiased;position: absolute;right: 5px;color: #8e8e8e;}
.appliance-selector .category-selector a.work:after{content: "build";font-size: 16px;}
.appliance-selector .category-selector a.home:after{content: "home";}
.appliance-selector .category-selector a.leisure:after{content: "airport_shuttle";}
.appliance-selector .category-selector a:hover{font-weight:700;}
.appliance-selector .category-selector a.selected{font-weight:700;border-bottom-color: #fefefe;cursor:default;/* z-index: 1000; */}

.appliance-selector .category-selector a.selected:after, 
.appliance-selector .category-selector a:hover:after{color: #0a0a0a; }


.appliance-selector .item-selector{margin-top: -1px;border: 1px solid #cbcbcb;display: inline-block;}
.appliance-selector .item-selector ul{
    margin: 10px;
    padding:0;
}
.appliance-selector .item-selector ul.item-list li{
    list-style-type: none;
    margin: 3px 5px 0 0;
    border: 1px solid #efefef;
    width: 24.2%;
    position: relative;
    float: left;
    height: 24px;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;  
    user-select: none;           
}
.appliance-selector  ul.item-list li:hover{cursor: pointer;}
.appliance-selector  ul.item-list li:hover:after{content:"+";height: 24px;width: 24px;line-height: 24px;text-align: center;font-size: 35px;font-family: Raleway,sans-serif;background-color: #eaeaea;color: #827f7f;position: absolute;right: 0;}

.appliance-selector .item-selector ul.item-list li span{
    line-height: 24px;
    padding: 0 0 0 8px;
    font-size: 11px;
}

.appliance-selector  ul.item-list li:hover .more-info{background-color: #eaeaea;width: 100px;position: absolute;right: -115px;top: -12px;z-index: 1000;height: 40px;line-height: 20px;padding: 5px 5px 5px 10px;border-radius: 3px;display: inline-block;}
.appliance-selector  ul.item-list li .counter{position:absolute; right: 35px; font-weight:700;}
.appliance-selector  ul.item-list li .more-info{display:none;}
.appliance-selector  ul.item-list li.work,
.appliance-selector  ul.item-list li.leisure{
    display: none;
}

.appliance-selector .item-selector .custom {float:left;clear:left;margin: 10px;}
.appliance-selector .item-selector .custom h3{margin: 10px 0 3px 3px;display: inline-block;font-size: 12px;}
.appliance-selector .item-selector .custom #manual-form{
    margin: 0;
}
.appliance-selector .item-selector .custom #manual-form input {height: 22px;font-size: 11px;padding: 0 0 2px 5px;}
.appliance-selector .item-selector .custom #manual-form input[type="submit"]{background-color: #c11b1b;border:none;height: 25px;color:#fefefe;padding: 0px 10px 2px 10px;margin: 0 0 0 5px;font-weight: 700;}
.appliance-selector .item-selector .custom #manual-form input[type="submit"]:hover{background-color: #770f0f;}

.loadout, .recommendations{
    display:none;
    padding: 10px;
    border: 1px solid #cbcbcb;
}
.loadout{margin: 0 0 5px 0;}
.loadout #results-table{
    width: 100%;
}

.loadout #results-table .remove-appliance{
    color: #0a0a0a;
    width: 100%;
    display:inline-block;
    text-decoration: inherit;
    font-weight: 700;
}
.loadout #results-table .remove-appliance:hover i{font-weight: 900;}

.loadout #results-table .remove-all{
    text-decoration: inherit;
    font-weight: 700;
    background-color: #c11b1b;
    height: 30px;
    color: #fefefe;
    width: 88%;
    text-align: center;
    display: block;
    line-height: 30px;
    margin: 0 6% 0 6%;
}
.loadout #results-table .remove-all:hover{background-color: #770f0f;}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 0;
}

tbody,tfoot,thead {
    border: 1px solid #f1f1f1;
    background-color: #fefefe;
}

tfoot,thead {
    background: #f8f8f8;
    color: #0a0a0a;
}

tfoot tr,thead tr {
    background: 0 0;
}

tfoot{border-top: 2px solid #e8e8e8;}

tfoot td,tfoot th,thead td,thead th {
    padding: .5rem .625rem .625rem;
    font-weight: 700;
    text-align: center;
}
tfoot td:first-child ,tfoot th:first-child ,thead td:first-child ,thead th:first-child {
    text-align:left;
}

tbody tr:nth-child(even) {
    background-color: #f8f8f8
}

caption, tbody td, tbody th {
    padding: .5rem .625rem .625rem;
    text-align: center;
}
tbody td:first-child, tbody th:first-child {
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

.recommendations{
    position: relative;
    margin: 0 0 40px 0;
}
.recommendations p{text-align:center;}
.recommendations a{
    color:initial;
    text-decoration:none;
    position: absolute;
    right: 8px;
    top: 13px;
    line-height: 18px;
    font-size: 16px;
}
.recommendations a span.whats-this{
    display:none;
}
.recommendations a span.material-icons{
    line-height: 16px;
    font-size: 25px;
    vertical-align: top;
}

.recommendations .rec-wattage p, .recommendations .rec-max p{margin:0;} 
.recommendations .rec-wattage p{margin:0;font-weight: 700;}
.recommendations .rec-wattage .result{
    text-align: center;
    font-size: 48px;
    font-weight: 100;
}

.button-container{display:none;}
.button-container a#aff-link{
    text-decoration: inherit;
    font-weight: 700;
    background-color: #c11b1b;
    color: #fefefe;
    width: 88%;
    text-align: center;
    display: block;
    margin: 0 6% 0 6%;
    font-size:24px;
    padding: 5px 0 10px 0;
}
.button-container a#aff-link:hover{background-color: #770f0f;}
.button-container a#aff-link .tag-line{
    display:block;
    line-height:16px;
    font-size:16px;
    font-weight:500;
}

.footer{
    border-bottom: 3px solid #eaeaea;
    border-top: 3px solid #eee;
    background: #fafafa;
    width: 100%;
}

.footer .about h4{
    font-size:25px;
    font-weight:100;
    margin-bottom: 0;
}

.footer .disclaimer{
    border-top: 3px solid #eee;
    padding-top:40px;
    margin-top: 50px;  
}

.footer .disclaimer p{
    font-size: 12px;
    text-align: center;
    color:#888;
}

.moreinfo-overlay-wrapper{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 4000;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    display: none;
}

.moreinfo-overlay-wrapper .moreinfo-overlay{
    width: 700px;
    height: 430px;
    padding: 20px;
    margin: 50px auto 0 auto;
    background-color: #fefefe;
    padding: 30px;
    z-index: 3000;
    position: relative;
}

.moreinfo-overlay-wrapper .moreinfo-overlay a{
    color: #0a0a0a;
    position: absolute;
    right: 20px;
    top: 20px;
}
.moreinfo-overlay h2{margin-top:0px;}
.moreinfo-overlay h3{margin:0; padding:0;}
.moreinfo-overlay p{margin-top:10px; font-size: 14px}

.view-results{
    position: absolute;
    right: 2%;
    top: 50%;
    width: 56px;
    height: 100px;
}
.view-results a{
    color: #0a0a0a;
}
.view-results a span{
    float: left;
    text-align: center;
}
.view-results a i {width: 100%;text-align: center;}
.learning-center{
}
.learning-center h2{
    text-transform: uppercase;
    border: 2px solid #0A0A4C;
    border-width: 2px 0;
    text-align: center;
    line-height: 2em;
}
.learning-center .page-section .guide-entry{
    width: 45.50%;
    margin: 3% 0 0 8%;
    float: none;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
}
.learning-center .page-section .guide-entry:nth-child(2n){margin-left: 0;}
.learning-center .page-section .guide-entry a{font-size: 24px;font-weight: 500;line-height: 26px;}
.learning-center .page-section .guide-entry p{font-size:18px;}



@media (max-width: 600px) {
    .page_wrapper .header {position:fixed;width: 100%;padding: 0;z-index: 10000;}
    .page_wrapper .header .logo{
        width:100%;
        text-align: left;
        margin: 20px 0 20px 15px;
    }
    .page_wrapper .header .menu {width: 100%;}
    .page_wrapper .header .menu > a{
        display:block;
        text-decoration:none;
        color: #0a0a0a;
        position: absolute;
        right: 10px;
        background-color: #fff;
        padding: 8px 10px;
        border: 1px solid #cbcbcb;
        top: 10px;
     }
    .page_wrapper .header .menu a span{line-height: 20px;vertical-align: middle;}
    .page_wrapper .header .menu .menu-items {display: none;background-color: #fff;overflow: hidden;left: 0;top: 64px;border: 1px solid #efefef;border-width: 1px 0;}
    .page_wrapper .header .menu ul li {
        margin: 0;
        width: 100%;
        float: left;
        clear: left;
    }
    .page_wrapper .header .menu ul li a{
        color: #0A0A29;
        width: 100%;
        padding: 15px;
        display: inline-block;
    }
    h1.home-page{
        line-height: 21px;
        font-weight: 500;
    }
    h1.home-page:before {
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
        /* margin: 0; */
    }    
    .hero-content p {
        margin: 0 5%;
    }
    .moreinfo-overlay-wrapper .moreinfo-overlay {
        width: 90%; 
        padding:4%;
        height:inherit
    }
    .moreinfo-overlay h2 {padding-right: 35px;}

    h1{font-size: 22px;}
    h1:before {
        background-size: 32px 32px;
        width: 32px;
        height: 32px;
    }
    .page_wrapper .content, .footer-content{
        width: 94%;
        padding-left: 3%;
        padding-right: 3%;
        margin: 0;
        padding-top: 94px;
    }
    .footer-content{padding-top:0;}
    .appliance-selector .category-selector a{
        width: 28.6%;
        float: left;
        padding: 10px 0 10px 4%;
    }
    .appliance-selector .category-selector a:after {
        right:inherit;
        margin:0 0 0 5px;
    }
    .appliance-selector .item-selector ul.item-list li {
        padding: 3%;
        width: 92%;
    }
    .appliance-selector ul.item-list li:hover .more-info{display:none;}
    .appliance-selector ul.item-list li:after{content:"+";height: 24px;width: 24px;line-height: 24px;text-align: center;font-size: 35px;font-family: Raleway,sans-serif;background-color: #eaeaea;color: #827f7f;position: absolute;right:10px;}
    .appliance-selector ul.item-list li:hover:after{right: 10px;}
    .appliance-selector ul.item-list li .counter{right: 45px;}
    .appliance-selector .item-selector ul.item-list li span{font-size:16px;}
    .appliance-selector .item-selector .custom h3{font-size: 16px;}
    .appliance-selector .item-selector .custom #manual-form input {
        height: 25px;
        font-size: 16px;
        float: left;
        clear: left;
        margin: 0 0 5px 0;
    }
    .appliance-selector .item-selector .custom #manual-form input[type="submit"]{
        margin: 0;
        padding: 10px;
    }
    .loadout{padding:0;}
    .loadout #results-table .remove-all {
        width:100%;
        margin: 0;
        font-size: 13px;
    }
    tfoot td,tfoot th,thead td,thead th {
        padding: .2rem .2rem .3rem;
        font-weight: 500;
    }
    caption, tbody td, tbody th {
        padding: .1rem .1rem .1rem;
        font-size: 14px;
    }
    td.table-mobile-hide, th.table-mobile-hide {
        display:none;
    }
    .moreinfo-overlay p{font-size:16px;}

    .learning-center .page-section .guide-entry{width:100%;margin: 10px 0 10px 0;}
}
@media (min-width: 900px) {


}